@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Prueba de Aplicación</h1>
    <p class="lead">Desarrollé esta prueba utilizando ASP.NET, la cuál permite al insuario el ingreso, eliminación, actualización y vista de facturas.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ingreso</h2>
        <p>
            Para ingresar una factura, se debe dirigir a la pestaña "Ingresar Factura", o bien, seleccionar el hipervínculo "Ingresar Factura" en la pestaña "Ver Facturas".
            El usuario debe de ingresar el número de dócumento, el nombre del cliente, NIT, una breve descripción, cantidad y precio unitario del artículo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Detalles</h2>
        <p>
            Una vez haya ingresado una factura, esta se desplegará de manera resumida en la pestana "Ver Facturas". Si deasea ver una vista más detallada de la factura lo puede hacer
            seleccionando el hipervínculo "Detalles". Aquí se desplegará toda la información pertinente a la factura escogida.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Editar</h2>
        <p>
            Si desea editar la información de la factura debe seleccionar el hipervínculo "Editar". Aquí se desplegará la información editable de la factura, y podrá cambiar los campos
            que sean necesarios.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Eliminar</h2>
        <p>
            Si desea elimar una factura del sistema debe seleccionar el hipervínculo "Eliminar". Aquí se desplegará toda la información pertinente a la factura escogida y deberá de 
            confirmar que desea eliminarla.
        </p>
    </div>
</div>